.projects-ctn {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid #ffffff;
  margin-top: 50px;
}

.project {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.rev-project {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
.text-title {
  padding: 10% 6%;
  font-size: 1.2rem;
}
.project-title {
  width: 100%;
  order: 0;
}
.project-pic {
  width: 500px;
  min-width: 500px;
  height: 400px;
  min-height: 400px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
}
