.projects-ctn {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.rev-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 30px;
}
.text-title {
  width: 550px;
  align-self: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12 * 1.618;
  padding: 0 3%; 
} 
.project-title {
  font-weight: 900;
  font-size: 1.6rem;
  color: #08b8a9;
  width: 100%;
  order: 0;
  font-family: "Cantarell";
}
.project-pic {
  width: 500px;
  min-width: 500px;
  height: 400px;
  min-height: 400px;
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}
@media screen and (max-width: 1400px){
  .text-title{
    width: 420px;
  }
}

@media screen and (max-width: 600px) {
  .project-pic {
    max-width: 350px;
    min-width: 200px;
    height: 200px;
    min-height: 300px;
  }
  .project {
    flex-flow: column wrap;
  }
  .rev-project {
    flex-flow: column wrap;
  }
  .text-title {
    padding: 3%;
    width: 370px;
  }
}
@media screen and (max-width: 375px) {
  .project-pic {
    max-width: 270px;
  }
  .text-title {
    padding: 8%;
    width: 300px;
    font-size: 1rem;
  }
}