.landing {
  height: 640px;
  text-align: center;
  background-image: url("../../assets/Programmer1440x6401.jpg");
}

.intro-text {
  width: 400px;
  position: absolute;
  left: 34%;
  top: 30%;
  font-size: 1.6rem;
  color: white;
  text-shadow: 2px 2px 4px #000;
  font-family: "Permanent Marker";
}

.next-text {
  position: absolute;
  width: 200px;
  bottom: 20px;
  left: 40%;
  font-size: 1.6rem;
  color: white;
  font-family: "Permanent Marker";
  text-shadow: 2px 2px 4px #000;
}

@media screen and (max-width: 600px){
    .landing{
        height: 645px;
    }
    .intro-text{
        left: 5%;
    }
    .next-text{
        left: 30%;
    }
}